<h1>Editing Simulation</h1>

<%= form_for @simulation do |f| %>
  <%= f.label :name %><%= f.text_field :name, id: :simulation_name %><br /><br />
  <%= f.submit %>
<% end %>

<br />

<%= link_to 'Show', @simulation %> |
<%= link_to 'Back', @simulation.asset %>
