<h1>New Simulation</h1>

<%= form_for @simulation do |f| %>
  <%= f.hidden_field :asset_id, value: @asset.id %>
  <%= f.label :name %><%= f.text_field :name, id: :simulation_name %><br /><br />
  <%= f.submit %>
<% end %>

<br />

<%= link_to 'Back', @asset %>
