<h1>Simulation Detail</h1>

<p>
  <strong>AssetName:</strong>
  <%= @simulation.asset.name %><br />
  <strong>SimulationName:</strong>
  <%= @simulation.name %><br />
  <strong>LastGeneratedAt:</strong>
  <%= @simulation.last_generated_at.presence || '-' %>
</p>

<%= link_to 'Edit', edit_simulation_path(@simulation) %> |
<%= link_to 'Back', @simulation.asset %>
