<p id="notice"><%= notice %></p>

<h1>Simulation Summary By Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Simulation summary</th>
      <th>Is active</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @simulation_summary_by_accounts.each do |simulation_summary_by_account| %>
      <tr>
        <td><%= simulation_summary_by_account.simulation_summary %></td>
        <td><%= simulation_summary_by_account.is_active %></td>
        <td><%= simulation_summary_by_account.memo %></td>
        <td><%= link_to 'Show', simulation_summary_by_account %></td>
        <td><%= link_to 'Edit', edit_simulation_summary_by_account_path(simulation_summary_by_account) %></td>
        <td><%= link_to 'Destroy', simulation_summary_by_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simulation Summary By Account', new_simulation_summary_by_account_path %>
