<h1>SimulationSummaryByAccount Detail</h1>

<% has_sum_account_dailies = @simulation_summary_by_account.sum_account_dailies.present? %>

<p>
  <%= search_form_for(@query, url: @simulation_summary_by_account) do |f| %>
    <table>
      <tr>
        <td><strong>IsActive:</strong>
        <td><%= @simulation_summary_by_account.is_active.presence || '-' %>
      <tr>
        <td><strong>SummarizedAt:</strong>
        <td><%= display_datetime_string(@simulation_summary_by_account.summarized_at) %>
      <% if has_sum_account_dailies %>
        <tr>
          <td><strong>AssetAccountName:</strong>
          <td><%= f.select :asset_account_id_eq, summary_by_asset_account_options(@simulation_summary_by_account) %>
          <td width="300" align="right"><span class="actions"><%= f.submit "Search" %></span>
      <% end %>
    </table>
  <% end %>
</p>

<% if has_sum_account_dailies %>
  <p>
    <%= area_chart @data, points: false, thousands: ',' %>
  </p>
<% end %>

<br />

<%= link_to 'Edit', edit_simulation_summary_by_account_path(@simulation_summary_by_account) %> |
<%= link_to 'Back', @simulation_summary_by_account.simulation_summary %>
