<h1>SimulationSummaryByAccount Detail</h1>

<br />

<% has_sum_account_dailies = @simulation_summary_by_account.sum_account_dailies.present? %>

<p>
  <div class='form-group row'>
    <div class='col-md-2'>
      <strong>IsActive:</strong>
    </div>
    <div class='col-md-5'>
      <%= @simulation_summary_by_account.is_active.presence || '-' %>
    </div>
  </div>
  <div class='form-group row'>
    <div class='col-md-2'>
      <strong>SummarizedAt:</strong>
    </div>
    <div class='col-md-5'>
      <%= display_datetime_string(@simulation_summary_by_account.summarized_at) %>
    </div>
  </div>
  <%= search_form_for(@query, url: @simulation_summary_by_account) do |f| %>
    <% if has_sum_account_dailies %>
      <div class='form-group row'>
        <div class='col-md-2 d-flex align-items-center'>
          <strong>AssetAccount:</strong>
        </div>
        <div class='col-md-5'>
          <%= f.select :asset_account_id_eq, summary_by_asset_account_options(@simulation_summary_by_account), {}, { class: 'form-control' } %>
        </div>
      </div>
      <div class='form-group row'>
        <div class='col-md-2 d-flex align-items-center'>
          <strong><%= f.label :base_date, 'BaseDate:' %></strong>
        </div>
        <div class='col-md-3'>
          <%= f.text_field :base_date_gteq, id: 'base_date_gteq', class: 'form-control datetimepicker-input', data: { toggle: 'datetimepicker', target: '#base_date_gteq' } %>
        </div>
        <span>~</span>
        <div class='col-md-3'>
          <%= f.text_field :base_date_lteq, id: 'base_date_lteq', class: 'form-control datetimepicker-input', data: { toggle: 'datetimepicker', target: '#base_date_lteq' } %>
        </div>
        <div class='col-md-3'>
          <%= f.submit 'Search', class: 'btn btn-primary float-md-right' %>
        </div>
      </div>
    <% end %>
  <% end %>
</p>

<% if has_sum_account_dailies %>
  <br />
  <p>
    <%= area_chart @data, points: false, thousands: ',' %>
  </p>
  <br />
<% end %>

<p>
  <div class='form-group row'>
    <div class='col-md-2'>
      <strong>Memo:</strong>
    </div>
    <div class='col-md-5 text-break'>
      <%= nl2br(@simulation_summary_by_account.memo).presence || '-' %>
    </div>
  </div>
</p>

<br />
<br />

<div class='btn-group' role='group' aria-label='footer_menu'>
  <%= link_to 'Edit', edit_simulation_summary_by_account_path(@simulation_summary_by_account), class: 'btn btn-secondary' %>
  <%= link_to 'Back', @simulation_summary_by_account.simulation_summary, class: 'btn btn-secondary' %>
</div>
