<h1>New Summary By Account Class</h1>

<%= form_for @sum_by_account_class do |f| %>
  <%= render "devise/shared/error_messages", resource: f.object %>
  <%= f.hidden_field :simulation_summary_id, value: @simulation_summary.id %>
  <%= f.label :name %><%= f.text_field :name %><br />
  <%= f.label :is_active %><%= f.check_box :is_active %><br />
  <%= f.label :memo %><%= f.text_area :memo %><br />
  <br />
  <%= f.submit %>
<% end %>

<br />

<%= link_to 'Back', @simulation_summary %>
