<h1>Editing Simulation Entry</h1>

<%= form_for @simulation_entry do |f| %>
  <%= f.label :name %><%= f.text_field :name, id: :simulation_entry_name %><br />
  <%= f.label :apply_from %><%= f.date_select :apply_from, {include_blank: true, use_month_numbers: true, date_separator: ' / ', selected: @simulation_entry.apply_from} %><br />
  <%= f.label :apply_to %><%= f.date_select :apply_to, {include_blank: true, use_month_numbers: true, date_separator: ' / ', selected: @simulation_entry.apply_to} %><br />
  <br />
  <%= f.submit %>
<% end %>

<br />

<%= link_to 'Show', @simulation_entry %> |
<%= link_to 'Back', @simulation_entry.simulation %>
