<p id="notice"><%= notice %></p>

<h1>Simulation Entries</h1>

<table>
  <thead>
    <tr>
      <th>Simulation</th>
      <th>Name</th>
      <th>Simulation entry type</th>
      <th>Apply from</th>
      <th>Apply to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @simulation_entries.each do |simulation_entry| %>
      <tr>
        <td><%= simulation_entry.simulation %></td>
        <td><%= simulation_entry.name %></td>
        <td><%= simulation_entry.simulation_entry_type %></td>
        <td><%= simulation_entry.apply_from %></td>
        <td><%= simulation_entry.apply_to %></td>
        <td><%= link_to 'Show', simulation_entry %></td>
        <td><%= link_to 'Edit', edit_simulation_entry_path(simulation_entry) %></td>
        <td><%= link_to 'Destroy', simulation_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simulation Entry', new_simulation_entry_path %>
