<h1>New Simulation Entry</h1>

<%= form_for @simulation_entry do |f| %>
  <%= render "devise/shared/error_messages", resource: f.object %>
  <%= f.hidden_field :simulation_id, value: @simulation.id %>
  <%= f.label :name %><%= f.text_field :name, id: :simulation_entry_name %><br />
  <%= f.label :simulation_entry_type_id, 'Simulation entry type' %><%= f.select :simulation_entry_type_id, simulation_entry_type_options, include_blank: true %><br />
  <%= f.label :apply_from %><%= f.date_select :apply_from, {include_blank: true, use_month_numbers: true, date_separator: ' / '} %><br />
  <%= f.label :apply_to %><%= f.date_select :apply_to, {include_blank: true, use_month_numbers: true, date_separator: ' / '} %><br />
  <br />
  <%= f.submit %>
<% end %>

<br />

<%= link_to 'Back', @simulation %>
