<h1>New Simulation Entry</h1>

</br>

<div class='row'>
  <div class='col-md-12'>
    <%= render 'devise/shared/error_messages', resource: @simulation_entry %>
  </div>
</div>

<p>
  <%= form_for @simulation_entry do |f| %>
    <%= f.hidden_field :simulation_id, value: @simulation.id %>
    <div class='form-group row'>
      <div class='col-md-2'>
        <%= f.label :name, class: 'col-form-label' %>
      </div>
      <div class='col-md-5'>
        <%= f.text_field :name, placeholder: 'simulation entry name', class: 'form-control' %>
      </div>
    </div>
    <div class='form-group row'>
      <div class='col-md-2'>
        <%= f.label :simulation_entry_type_id, class: 'col-form-label' %>
      </div>
      <div class='col-md-5'>
        <%= f.select :simulation_entry_type_id, simulation_entry_type_options, { include_blank: true }, { class: 'form-control' } %>
      </div>
    </div>
    <div class='form-group row'>
      <div class='col-md-2'>
        <%= f.label :apply_from, class: 'col-form-label' %>
      </div>
      <div class='col-md-5'>
        <%= f.text_field :apply_from, id: 'apply_from', autocomplete: 'off', class: 'form-control datetimepicker-input', data: { toggle: 'datetimepicker', target: '#apply_from' } %>
      </div>
    </div>
    <div class='form-group row'>
      <div class='col-md-2'>
        <%= f.label :apply_to, class: 'col-form-label' %>
      </div>
      <div class='col-md-5'>
        <%= f.text_field :apply_to, id: 'apply_to', autocomplete: 'off', class: 'form-control datetimepicker-input', data: { toggle: 'datetimepicker', target: '#apply_to' } %>
      </div>
    </div>
    <br />
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</p>

<br />
<br />

<div class='btn-group' role='group' aria-label='footer_menu'>
  <%= link_to 'Back', @simulation, class: 'btn btn-secondary' %>
</div>
