<h1>SimulationEntry Detail</h1>

<p>
  <strong>SimulationName:</strong>
  <%= @simulation_entry.simulation.name %><br />
  <strong>SimulationEntryName:</strong>
  <%= @simulation_entry.name %><br />
  <strong>SimulationEntryType:</strong>
  <%= @simulation_entry.simulation_entry_type&.name.presence || '-' %><br />
  <strong>ApplyFrom:</strong>
  <%= display_date_string(@simulation_entry.apply_from) %><br />
  <strong>ApplyTo:</strong>
  <%= display_date_string(@simulation_entry.apply_to) %>
</p>

<%= link_to 'Edit', edit_simulation_entry_path(@simulation_entry) %> |
<%= link_to 'Back', @simulation_entry.simulation %>
