<p id="notice"><%= notice %></p>

<h1>Summary By Asset Types</h1>

<table>
  <thead>
    <tr>
      <th>Simulation summary</th>
      <th>Is active</th>
      <th>Memo</th>
      <th>Summarized at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @summary_by_asset_types.each do |summary_by_asset_type| %>
      <tr>
        <td><%= summary_by_asset_type.simulation_summary %></td>
        <td><%= summary_by_asset_type.is_active %></td>
        <td><%= summary_by_asset_type.memo %></td>
        <td><%= summary_by_asset_type.summarized_at %></td>
        <td><%= link_to 'Show', summary_by_asset_type %></td>
        <td><%= link_to 'Edit', edit_summary_by_asset_type_path(summary_by_asset_type) %></td>
        <td><%= link_to 'Destroy', summary_by_asset_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Summary By Asset Type', new_summary_by_asset_type_path %>
