<p id="notice"><%= notice %></p>

<p>
  <strong>Simulation summary:</strong>
  <%= @summary_by_asset_type.simulation_summary %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @summary_by_asset_type.is_active %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @summary_by_asset_type.memo %>
</p>

<p>
  <strong>Summarized at:</strong>
  <%= @summary_by_asset_type.summarized_at %>
</p>

<%= link_to 'Edit', edit_summary_by_asset_type_path(@summary_by_asset_type) %> |
<%= link_to 'Back', summary_by_asset_types_path %>
