<h1>New Account Class</h1>

<%= form_for @simulation_acct_class do |f| %>
  <%= render "devise/shared/error_messages", resource: f.object %>
  <%= f.hidden_field :sum_by_acct_class_setting_id, value: @sum_by_acct_class_setting.id %>
  <%= f.label :name %><%= f.text_field :name %><br />
  <br />
  <%= f.submit %>
<% end %>

<br />

<%= link_to 'Back', simulation_acct_classes_path(sum_by_acct_class_setting_id: @sum_by_acct_class_setting.id) %>
