<p id="notice"><%= notice %></p>

<p>
  <strong>Sum by acct class setting:</strong>
  <%= @simulation_acct_class.sum_by_acct_class_setting %>
</p>

<p>
  <strong>Name:</strong>
  <%= @simulation_acct_class.name %>
</p>

<%= link_to 'Edit', edit_simulation_acct_class_path(@simulation_acct_class) %> |
<%= link_to 'Back', simulation_acct_classes_path %>
