<p id="notice"><%= notice %></p>

<h1>Simulation Result Activities</h1>

<table>
  <thead>
    <tr>
      <th>Simulation entry detail</th>
      <th>Asset account</th>
      <th>Transaction date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Item</th>
      <th>Sub item</th>
      <th>Is transfer</th>
      <th>Is calculation target</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @simulation_result_activities.each do |simulation_result_activity| %>
      <tr>
        <td><%= simulation_result_activity.simulation_entry_detail %></td>
        <td><%= simulation_result_activity.asset_account %></td>
        <td><%= simulation_result_activity.transaction_date %></td>
        <td><%= simulation_result_activity.description %></td>
        <td><%= simulation_result_activity.amount %></td>
        <td><%= simulation_result_activity.item %></td>
        <td><%= simulation_result_activity.sub_item %></td>
        <td><%= simulation_result_activity.is_transfer %></td>
        <td><%= simulation_result_activity.is_calculation_target %></td>
        <td><%= link_to 'Show', simulation_result_activity %></td>
        <td><%= link_to 'Edit', edit_simulation_result_activity_path(simulation_result_activity) %></td>
        <td><%= link_to 'Destroy', simulation_result_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simulation Result Activity', new_simulation_result_activity_path %>
