<p id="notice"><%= notice %></p>

<p>
  <strong>Simulation entry detail:</strong>
  <%= @simulation_result_activity.simulation_entry_detail %>
</p>

<p>
  <strong>Asset account:</strong>
  <%= @simulation_result_activity.asset_account %>
</p>

<p>
  <strong>Transaction date:</strong>
  <%= @simulation_result_activity.transaction_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @simulation_result_activity.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @simulation_result_activity.amount %>
</p>

<p>
  <strong>Item:</strong>
  <%= @simulation_result_activity.item %>
</p>

<p>
  <strong>Sub item:</strong>
  <%= @simulation_result_activity.sub_item %>
</p>

<p>
  <strong>Is transfer:</strong>
  <%= @simulation_result_activity.is_transfer %>
</p>

<p>
  <strong>Is calculation target:</strong>
  <%= @simulation_result_activity.is_calculation_target %>
</p>

<%= link_to 'Edit', edit_simulation_result_activity_path(@simulation_result_activity) %> |
<%= link_to 'Back', simulation_result_activities_path %>
