<h1>SimulationSummaryByAccountClass Setting</h1>

<p>
  <div class='form-group row'>
    <div class='col-md-3'>
      <strong>SummaryByAccountClassName:</strong>
    </div>
    <div class='col-md-5'>
      <%= @sum_by_acct_class_setting.sum_by_account_class.name.presence || '-' %>
    </div>
  </div>
</p>

<br />

<p>
  <h2>AssetAccountClassifications</h2>
  <table class='table table-sm table-hover'>
    <thead>
      <tr class='table-dark'>
        <th>AssetAccountName</th>
        <th>AccountClassName</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% asset_accounts = @sum_by_acct_class_setting.sum_by_account_class.simulation_summary.simulation.asset.asset_accounts %>
      <% if asset_accounts.blank? %>
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      <% else %>
        <% acct_to_class_maps = @sum_by_acct_class_setting.acct_to_class_maps %>
        <% asset_accounts.each do |asset_account| %>
          <tr>
            <td><%= asset_account.name.presence || '-' %></td>
            <% acct_to_class_map = acct_to_class_maps.find { |m| m.asset_account_id == asset_account.id } %>
            <td><%= acct_to_class_map.simulation_acct_class&.name.presence || '-' %></td>
            <td>
              <div class='btn-group' role='group' aria-label='action_menu'>
                <%= link_to 'Edit', edit_acct_to_class_map_path(acct_to_class_map), class: 'btn btn-secondary btn-sm' %>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'AccountClasses', simulation_acct_classes_path(sum_by_acct_class_setting_id: @sum_by_acct_class_setting.id), class: 'btn btn-secondary' %>
</p>

<br />
<br />

<div class='btn-group' role='group' aria-label='footer_menu'>
  <%= link_to 'Back', @sum_by_acct_class_setting.sum_by_account_class, class: 'btn btn-secondary' %>
</div>
