<h1>BillingAccout Detail</h1>

<p>
  <div class='row'>
    <div class='col-md-2'>
      <strong>CreditAccountName:</strong>
    </div>
    <div class='col-md-5'>
      <%= @billing_account.credit_account.name %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <strong>BillingClosingDay:</strong>
    </div>
    <div class='col-md-5'>
      <%= @billing_account.billing_closing_day %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <strong>WithdrawalDay:</strong>
    </div>
    <div class='col-md-5'>
      <%= "#{@billing_account.withdrawal_day}(#{withdrawal_month_offset_value(@billing_account.withdrawal_month_offset)})" %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <strong>BillingItemName:</strong>
    </div>
    <div class='col-md-5'>
      <%= @billing_account.billing_item.name %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <strong>BillingSubItemName:</strong>
    </div>
    <div class='col-md-5'>
      <%= @billing_account.billing_sub_item.name %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <strong>DebitAccountName:</strong>
    </div>
    <div class='col-md-5'>
      <%= @billing_account.debit_account.name %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <strong>DebitItemName:</strong>
    </div>
    <div class='col-md-5'>
      <%= @billing_account.debit_item.name %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <strong>DebitSubItemName:</strong>
    </div>
    <div class='col-md-5'>
      <%= @billing_account.debit_sub_item.name %>
    </div>
  </div>
</p>

<br />

<p>
  <% if @is_billing_complement_activities %>
    <h2>BillingComplementActivities</h2>
  <% else %>
    <h2>BillingActivities</h2>
  <% end %>
  <table class='table table-sm table-hover'>
    <thead>
      <tr class='table-dark'>
        <th>TransactionDate</th>
        <th>Description</th>
        <th>Amount</th>
        <th>AssetAccountName</th>
        <th>ItemName</th>
        <th>SubItemName</th>
        <th>IsTransfer</th>
        <th>IsCalculationTarget</th>
        <th>CreatedAt</th>
        <th>UpdatedAt</th>
      </tr>
    </thead>
    <tbody>
      <% if @billing_activities.blank? %>
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      <% else %>
        <% @billing_activities.each do |billing_activity| %>
          <tr>
            <td><%= display_date_string(billing_activity.transaction_date) %></td>
            <td><%= billing_activity.description&.slice(0...25) %></td>
            <td><%= billing_activity.amount %></td>
            <td><%= billing_activity.asset_account.name %></td>
            <td><%= billing_activity.item.name %></td>
            <td><%= billing_activity.sub_item.name %></td>
            <td><%= billing_activity.is_transfer %></td>
            <td><%= billing_activity.is_calculation_target %></td>
            <td><%= display_datetime_string(billing_activity.created_at) %></td>
            <td><%= display_datetime_string(billing_activity.updated_at) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @billing_activities %>
  <% if @is_billing_complement_activities %>
    <%= link_to 'BillingActivities', @billing_account, class: 'btn btn-secondary' %>
  <% else %>
    <%= link_to 'BillingComplementActivities', billing_account_path(@billing_account, is_billing_complement_activities: 1), class: 'btn btn-secondary' %>
  <% end %>
</p>

<br />
<br />

<div class='btn-group' role='group' aria-label='footer_menu'>
  <%= link_to 'Edit', edit_billing_account_path(@billing_account), class: 'btn btn-secondary' %>
  <%= link_to 'Back', @billing_account.simulation, class: 'btn btn-secondary' %>
</div>
