<p id="notice"><%= notice %></p>

<p>
  <strong>Simulation:</strong>
  <%= @billing_account.simulation %>
</p>

<p>
  <strong>Credit account:</strong>
  <%= @billing_account.credit_account %>
</p>

<p>
  <strong>Billing closing day:</strong>
  <%= @billing_account.billing_closing_day %>
</p>

<p>
  <strong>Withdrawal day:</strong>
  <%= @billing_account.withdrawal_day %>
</p>

<p>
  <strong>Withdrawal month offset:</strong>
  <%= @billing_account.withdrawal_month_offset %>
</p>

<p>
  <strong>Billing item:</strong>
  <%= @billing_account.billing_item %>
</p>

<p>
  <strong>Billing sub item:</strong>
  <%= @billing_account.billing_sub_item %>
</p>

<p>
  <strong>Debit account:</strong>
  <%= @billing_account.debit_account %>
</p>

<p>
  <strong>Debit item:</strong>
  <%= @billing_account.debit_item %>
</p>

<p>
  <strong>Debit sub item:</strong>
  <%= @billing_account.debit_sub_item %>
</p>

<%= link_to 'Edit', edit_billing_account_path(@billing_account) %> |
<%= link_to 'Back', billing_accounts_path %>
