<p id="notice"><%= notice %></p>

<h1>Simulation Summaries</h1>

<table>
  <thead>
    <tr>
      <th>Simulation</th>
      <th>Summarized at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @simulation_summaries.each do |simulation_summary| %>
      <tr>
        <td><%= simulation_summary.simulation %></td>
        <td><%= simulation_summary.summarized_at %></td>
        <td><%= link_to 'Show', simulation_summary %></td>
        <td><%= link_to 'Edit', edit_simulation_summary_path(simulation_summary) %></td>
        <td><%= link_to 'Destroy', simulation_summary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simulation Summary', new_simulation_summary_path %>
