<h1>SimulationSummary Detail</h1>

<p>
  <strong>SimulationName:</strong>
  <%= @simulation_summary.simulation.name %><br />
  <strong>SummarizedAt:</strong>
  <%= display_datetime_string(@simulation_summary.summarized_at) %>
</p>

<p>
  <h2>SimulationSummaryBreakdowns</h2>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>IsActive</th>
        <th>SummarizedAt</th>
        <th colspan="4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% simulation_summary_by_account = @simulation_summary.simulation_summary_by_account %>
      <tr>
        <td><%= simulation_summary_breakdown_type_name(simulation_summary_by_account) %></td>
        <td>-</td>
        <td><%= simulation_summary_by_account.is_active.presence || '-' %></td>
        <td><%= display_datetime_string(simulation_summary_by_account.summarized_at) %></td>
        <td><%= link_to 'Show', simulation_summary_by_account %></td>
        <td><%= link_to 'Edit', edit_simulation_summary_by_account_path(simulation_summary_by_account) %></td>
      </tr>
      <% summary_by_asset_type = @simulation_summary.summary_by_asset_type %>
      <tr>
        <td><%= simulation_summary_breakdown_type_name(summary_by_asset_type) %></td>
        <td>-</td>
        <td><%= summary_by_asset_type.is_active.presence || '-' %></td>
        <td><%= display_datetime_string(summary_by_asset_type.summarized_at) %></td>
        <td><%= link_to 'Show', summary_by_asset_type %></td>
        <td><%= link_to 'Edit', edit_summary_by_asset_type_path(summary_by_asset_type) %></td>
      </tr>
      <% @simulation_summary.sum_by_account_classes.each do |sum_by_account_class| %>
        <tr>
          <td><%= simulation_summary_breakdown_type_name(sum_by_account_class) %></td>
          <td><%= sum_by_account_class.name.presence || '-' %></td>
          <td><%= sum_by_account_class.is_active.presence || '-' %></td>
          <td><%= display_datetime_string(sum_by_account_class.summarized_at) %></td>
          <td><%= link_to 'Show', sum_by_account_class %></td>
          <td><%= link_to 'Edit', edit_sum_by_account_class_path(sum_by_account_class) %></td>
          <td><%= link_to 'Settings', sum_by_account_class.sum_by_acct_class_setting %></td>
          <td><%= link_to 'Destroy', sum_by_account_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <%= link_to 'New ByAccountClass', new_sum_by_account_class_path(simulation_summary_id: @simulation_summary.id) %>
</p>

<%= link_to 'Back', @simulation_summary.simulation %>
