<h1>SimulationSummary Detail</h1>

<p>
  <strong>SimulationName:</strong>
  <%= @simulation_summary.simulation.name %><br />
  <strong>SummarizedAt:</strong>
  <%= display_datetime_string(@simulation_summary.summarized_at) %>
</p>

<p>
  <h2>SimulationSummaryBreakdowns</h2>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>IsActive</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% simulation_summary_by_account = @simulation_summary.simulation_summary_by_account %>
      <tr>
        <td><%= simulation_summary_breakdown_type_name(simulation_summary_by_account) %></td>
        <td><%= simulation_summary_by_account.is_active.presence || '-' %></td>
        <td><%= link_to 'Show', simulation_summary_by_account %></td>
        <td><%= link_to 'Edit', edit_simulation_summary_by_account_path(simulation_summary_by_account) %></td>
      </tr>
    </tbody>
  </table>
  <br />
</p>

<%= link_to 'Back', @simulation_summary.simulation %>
