<p id="notice"><%= notice %></p>

<p>
  <strong>Asset account:</strong>
  <%= @asset_activity.asset_account %>
</p>

<p>
  <strong>Transaction date:</strong>
  <%= @asset_activity.transaction_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @asset_activity.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @asset_activity.amount %>
</p>

<p>
  <strong>Item:</strong>
  <%= @asset_activity.item %>
</p>

<p>
  <strong>Sub item:</strong>
  <%= @asset_activity.sub_item %>
</p>

<p>
  <strong>Is transfer:</strong>
  <%= @asset_activity.is_transfer %>
</p>

<p>
  <strong>Is calculation target:</strong>
  <%= @asset_activity.is_calculation_target %>
</p>

<%= link_to 'Edit', edit_asset_activity_path(@asset_activity) %> |
<%= link_to 'Back', asset_activities_path %>
