<h1>AssetAccount Detail</h1>

<p>
  <strong>AssetName:</strong>
  <%= @asset_account.asset.name %><br />
  <strong>Name:</strong>
  <%= @asset_account.name %><br />
  <strong>AssetType:</strong>
  <%= @asset_account.asset_type&.name.presence || '-' %><br />
  <strong>AssetActivity_Counts:</strong>
  <%= @asset_account.asset_activities.size %>
</p>

<%= link_to 'Edit', edit_asset_account_path(@asset_account) %> |
<%= link_to 'Back', @asset_account.asset %>
