<h1>AssetAccount Detail</h1>

<p>
  <strong>AssetName:</strong>
  <%= @asset_account.asset.name %><br />
  <strong>Name:</strong>
  <%= @asset_account.name %><br />
  <strong>AssetType:</strong>
  <%= @asset_account.asset_type&.name.presence || '-' %><br />
  <strong>AssetActivity_Counts:</strong>
  <%= @asset_account.asset_activities.size %>
</p>

<p>
  <h2>AssetActivities</h2>
  <table>
    <thead>
      <tr>
        <th>TransactionDate</th>
        <th>Description</th>
        <th>Amount</th>
        <th>AssetAccountName</th>
        <th>ItemName</th>
        <th>SubItemName</th>
        <th>IsTransfer</th>
        <th>IsCalculationTarget</th>
        <th>CreatedAt</th>
        <th>UpdatedAt</th>
      </tr>
    </thead>
    <tbody>
      <% @asset_account.asset_activities.order(transaction_date: :desc).each do |asset_activity| %>
        <tr>
          <td><%= asset_activity.transaction_date.strftime('%Y/%m/%d') %></td>
          <td><%= asset_activity.description.slice(0...25) %></td>
          <td><%= asset_activity.amount %></td>
          <td><%= asset_activity.asset_account.name %></td>
          <td><%= asset_activity.item.name %></td>
          <td><%= asset_activity.sub_item.name %></td>
          <td><%= asset_activity.is_transfer %></td>
          <td><%= asset_activity.is_calculation_target %></td>
          <td><%= asset_activity.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
          <td><%= asset_activity.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_asset_account_path(@asset_account) %> |
<%= link_to 'Back', @asset_account.asset %>
