<h1>Editing Asset</h1>

<%= form_for @asset do |f| %>
  <%= f.label :name %> <%= f.text_field :name, id: :asset_name %><br /><br />
  <%= f.submit %>
<% end %>

<br />

<%= link_to 'Show', @asset %> |
<%= link_to 'Back', assets_path %>
