<h1>Assets</h1>

<table class='table table-sm table-hover'>
  <thead>
    <tr class='table-dark'>
      <th>User</th>
      <th>AssetName</th>
      <th>AssetActivity_Counts</th>
      <th>LastAggregatedAt</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if @assets.blank? %>
      <tr>
        <td><%= user_display_name(current_user) %></td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    <% else %>
      <% @assets.each do |asset| %>
        <tr>
          <td><%= user_display_name(asset.user) %></td>
          <td><%= asset.name %></td>
          <td><%= @asset_activity_counts[asset.id] %></td>
          <td><%= display_datetime_string(asset.last_aggregate_succeeded_at) %></td>
          <td>
            <%= link_to 'Aggregate', aggregate_asset_path(asset), class: 'btn btn-primary btn-sm' %>
            <div class='btn-group' role='group' aria-label='action_menu'>
              <%= link_to 'Show', asset, class: 'btn btn-secondary btn-sm' %>
              <%= link_to 'Edit', edit_asset_path(asset), class: 'btn btn-secondary btn-sm' %>
              <%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary btn-sm' %>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset', new_asset_path, class: 'btn btn-primary' %>
