<h1>Assets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>AssetName</th>
      <th>AssetActivity_Counts</th>
      <th>LastAggregatedAt</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if @assets.blank? %>
      <tr>
        <td><%= user_display_name(current_user) %></td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td colspan="4">-</td>
      </tr>
    <% else %>
      <% @assets.each do |asset| %>
        <tr>
          <td><%= user_display_name(asset.user) %></td>
          <td><%= asset.name %></td>
          <td><%= @asset_activity_counts[asset.id] %></td>
          <td><%= display_date_string(asset.last_aggregate_succeeded_at) %></td>
          <td><%= link_to 'Aggregate', aggregate_asset_path(asset) %></td>
          <td><%= link_to 'Show', asset %></td>
          <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
          <td><%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset', new_asset_path %>
