<h1>New Asset</h1>

<%= form_for @asset do |f| %>
  <%= render "devise/shared/error_messages", resource: f.object %>
  <%= f.label :name %> <%= f.text_field :name, id: :asset_name %><br /><br />
  <%= f.submit %>
<% end %>

<br />

<%= link_to 'Back', assets_path %>
