<h1>Asset Detail</h1>

<br />

<p>
  <div class='row'>
    <div class='col-md-3'>
      <strong>User:</strong>
    </div>
    <div class='col-md-5'>
      <%= user_display_name(@asset.user) %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      <strong>Name:</strong>
    </div>
    <div class='col-md-3'>
      <%= @asset.name %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      <strong>AssetActivity_Counts:</strong>
    </div>
    <div class='col-md-5'>
      <%= @asset_activity_count %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      <strong>LastAggregateStartedAt:</strong>
    </div>
    <div class='col-md-5'>
      <%= display_datetime_string(@asset.last_aggregate_started_at) %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      <strong>LastAggregateSucceededAt:</strong>
    </div>
    <div class='col-md-5'>
      <%= display_datetime_string(@asset.last_aggregate_succeeded_at) %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      <strong>LatestAggregateStatus:</strong>
    </div>
    <div class='col-md-5'>
      <%= render_async aggregate_status_asset_path(@asset), interval: 3000 %>
    </div>
  </div>
</p>

<br />

<p>
  <h2>AssetAccounts</h2>
  <table class='table table-sm table-hover'>
    <thead>
      <tr class='table-dark'>
        <th>Name</th>
        <th>Type</th>
        <th>InitialBalance</th>
        <th>InitialBalanceBaseDate</th>
        <th>AssetActivity_Counts</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @asset.asset_accounts.blank? %>
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      <% else %>
        <% @asset.asset_accounts.each do |asset_account| %>
          <tr>
            <td><%= asset_account.name %></td>
            <td><%= asset_account.asset_type&.name.presence || '-' %></td>
            <td><%= asset_account.initial_balance.presence || '-' %></td>
            <td><%= display_date_string(asset_account.initial_balance_base_date) %></td>
            <td><%= @asset_activity_counts_by_account[asset_account.id].presence || 0 %></td>
            <td>
              <div class='btn-group' role='group' aria-label='action_menu'>
                <%= link_to 'Show', asset_account, class: 'btn btn-secondary btn-sm' %>
                <%= link_to 'Edit', edit_asset_account_path(asset_account), class: 'btn btn-secondary btn-sm' %>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Aggregate', aggregate_asset_path(@asset), class: 'btn btn-primary' %>
  <%= link_to 'AssetActivities_BulkInquiry', asset_activities_path(asset_id: @asset.id), class: 'btn btn-secondary' %>
</p>

<br />

<p>
  <h2>Simulations</h2>
  <table class='table table-sm table-hover'>
    <thead>
      <tr class='table-dark'>
        <th>Name</th>
        <th>MainSection</th>
        <th>AverageBalance</th>
        <th>Entry_Counts</th>
        <th>ResultActivity_Counts</th>
        <th>LastGeneratedAt</th>
        <th>GenerateStatus</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @asset.simulations.blank? %>
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      <% else %>
        <% @asset.simulations.each do |simulation| %>
          <tr>
            <td><%= simulation.name.presence || '-' %></td>
            <td><%= simulation.simulation_summary.present? ? main_section_name(simulation.simulation_summary) : '-' %></td>
            <td><%= simulation.simulation_summary&.average_balance.presence || '-' %></td>
            <td><%= (@entry_detail_counts_by_simulation[simulation.id].presence || 0) + (@billing_account_counts_by_simulation[simulation.id].presence || 0) %></td>
            <td><%= (@result_activity_counts_by_simulation[simulation.id].presence || 0) + (@billing_activity_counts_by_simulation[simulation.id].presence || 0) %></td>
            <td><%= display_datetime_string(simulation.last_generated_at) %></td>
            <td><%= latest_generate_status(simulation) %></td>
            <td>
              <%= link_to 'Generate', generate_simulation_path(simulation), class: 'btn btn-primary btn-sm' %>
              <div class='btn-group' role='group' aria-label='action_menu'>
                <%= link_to 'Show', simulation, class: 'btn btn-secondary btn-sm' %>
                <%= link_to 'Edit', edit_simulation_path(simulation), class: 'btn btn-secondary btn-sm' %>
                <%= link_to 'Destroy', simulation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary btn-sm' %>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Simulation', new_simulation_path(asset_id: @asset.id), class: 'btn btn-primary' %>
</p>

<br />
<br />

<div class='btn-group' role='group' aria-label='footer_menu'>
  <%= link_to 'Edit', edit_asset_path(@asset), class: 'btn btn-secondary' %>
  <%= link_to 'Back(Assets Index)', assets_path, class: 'btn btn-secondary' %>
</div>
