<h1>Asset Detail</h1>

<p>
  <strong>User:</strong>
  <%= user_display_name(@asset.user) %><br />
  <strong>Name:</strong>
  <%= @asset.name %><br />
  <strong>AssetActivity_Counts:</strong>
  <%= @asset_activity_count %><br />
  <strong>LastAggregateStartedAt:</strong>
  <%= display_datetime_string(@asset.last_aggregate_started_at) %><br />
  <strong>LastAggregateSucceededAt:</strong>
  <%= display_datetime_string(@asset.last_aggregate_succeeded_at) %><br />
</p>

<p>
  <h2>AssetAccounts</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>AssetActivity_Counts</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @asset.asset_accounts.blank? %>
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td colspan="2">-</td>
        </tr>
      <% else %>
        <% @asset.asset_accounts.each do |asset_account| %>
          <tr>
            <td><%= asset_account.name %></td>
            <td><%= asset_account.asset_type&.name.presence || '-' %></td>
            <td><%= asset_account.asset_activities.size %></td>
            <td><%= link_to 'Show', asset_account %></td>
            <td><%= link_to 'Edit', edit_asset_account_path(asset_account) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</p>

<p>
  <h2>AssetActivities</h2>
  <%= link_to 'BulkInquiry', asset_activities_path(asset_id: @asset.id) %>
</p>

<p>
  <h2>Simulations</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>LastGeneratedAt</th>
        <th>EntryDetail_Counts</th>
        <th>ResultActivity_Counts</th>
        <th colspan="4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @asset.simulations.blank? %>
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td colspan="4">-</td>
        </tr>
      <% else %>
        <% @asset.simulations.each do |simulation| %>
          <tr>
            <td><%= simulation.name.presence || '-' %></td>
            <td><%= display_datetime_string(simulation.last_generated_at) %></td>
            <td><%= simulation.simulation_entries.joins(:simulation_entry_details).size %></td>
            <td><%= result_activity_counts(simulation) %></td>
            <td><%= link_to 'Generate', generate_simulation_path(simulation) %></td>
            <td><%= link_to 'Show', simulation %></td>
            <td><%= link_to 'Edit', edit_simulation_path(simulation) %></td>
            <td><%= link_to 'Destroy', simulation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br />
  <%= link_to 'New Simulation', new_simulation_path(asset_id: @asset.id) %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
