<p id="notice"><%= notice %></p>

<h1>Simulation Entry Details</h1>

<table>
  <thead>
    <tr>
      <th>Simulation entry</th>
      <th>Asset account</th>
      <th>Transaction date year</th>
      <th>Transaction date month</th>
      <th>Transaction date day</th>
      <th>Transaction date weekday</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Item</th>
      <th>Sub item</th>
      <th>Is transfer</th>
      <th>Is calculation target</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @simulation_entry_details.each do |simulation_entry_detail| %>
      <tr>
        <td><%= simulation_entry_detail.simulation_entry %></td>
        <td><%= simulation_entry_detail.asset_account %></td>
        <td><%= simulation_entry_detail.transaction_date_year %></td>
        <td><%= simulation_entry_detail.transaction_date_month %></td>
        <td><%= simulation_entry_detail.transaction_date_day %></td>
        <td><%= simulation_entry_detail.transaction_date_weekday %></td>
        <td><%= simulation_entry_detail.description %></td>
        <td><%= simulation_entry_detail.amount %></td>
        <td><%= simulation_entry_detail.item %></td>
        <td><%= simulation_entry_detail.sub_item %></td>
        <td><%= simulation_entry_detail.is_transfer %></td>
        <td><%= simulation_entry_detail.is_calculation_target %></td>
        <td><%= link_to 'Show', simulation_entry_detail %></td>
        <td><%= link_to 'Edit', edit_simulation_entry_detail_path(simulation_entry_detail) %></td>
        <td><%= link_to 'Destroy', simulation_entry_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simulation Entry Detail', new_simulation_entry_detail_path %>
