<h1>New Simulation Entry Detail</h1>

</br>

<div class='row'>
  <div class='col-md-12'>
    <%= render 'devise/shared/error_messages', resource: @simulation_entry_detail %>
  </div>
</div>

<p>
  <div class='row'>
    <div class='col-md-3'>
      Simulation entry type
    </div>
    <div class='col-md-5'>
      <%= @simulation_entry.simulation_entry_type.name %>
    </div>
  </div>
</p>

<p>
  <%= form_for @simulation_entry_detail do |f| %>
    <%= f.hidden_field :simulation_entry_id, value: @simulation_entry.id %>
    <% asset = @simulation_entry.simulation.asset %>
    <% simulation_entry_type_id = @simulation_entry.simulation_entry_type_id %>
    <% if simulation_entry_type_id.in?([1]) # any_time %>
      <div class='form-group row'>
        <div class='col-md-3'>
          <%= f.label :transaction_date_year, class: 'col-form-label' %>
        </div>
        <div class='col-md-5'>
          <%= f.select :transaction_date_year, year_options, { include_blank: true }, { class: 'form-control' } %>
        </div>
      </div>
    <% end %>
    <% if simulation_entry_type_id.in?([1, 5]) # any_time, yearly %>
      <div class='form-group row'>
        <div class='col-md-3'>
          <%= f.label :transaction_date_month, class: 'col-form-label' %>
        </div>
        <div class='col-md-5'>
          <%= f.select :transaction_date_month, month_options, { include_blank: true }, { class: 'form-control' } %>
        </div>
      </div>
    <% end %>
    <% if simulation_entry_type_id.in?([1, 4, 5]) # any_time, monthly, yearly %>
      <div class='form-group row'>
        <div class='col-md-3'>
          <%= f.label :transaction_date_day, class: 'col-form-label' %>
        </div>
        <div class='col-md-5'>
          <%= f.select :transaction_date_day, day_options, { include_blank: true }, { class: 'form-control' } %>
        </div>
      </div>
    <% end %>
    <% if simulation_entry_type_id.in?([3]) # weekly %>
      <div class='form-group row'>
        <div class='col-md-3'>
          <%= f.label :transaction_date_weekday, class: 'col-form-label' %>
        </div>
        <div class='col-md-5'>
          <%= f.select :transaction_date_weekday, weekday_options, { include_blank: true }, { class: 'form-control' } %>
        </div>
      </div>
    <% end %>
    <div class='form-group row'>
      <div class='col-md-3'>
        <%= f.label :description, class: 'col-form-label' %>
      </div>
      <div class='col-md-5'>
        <%= f.text_area :description, placeholder: 'description text', class: 'form-control' %>
      </div>
    </div>
    <div class='form-group row'>
      <div class='col-md-3'>
        <%= f.label :amount, class: 'col-form-label' %>
      </div>
      <div class='col-md-5'>
        <%= f.text_field :amount, placeholder: 'amount', class: 'form-control' %>
      </div>
    </div>
    <div class='form-group row'>
      <div class='col-md-3'>
        <%= f.label :asset_account_id, class: 'col-form-label' %>
      </div>
      <div class='col-md-5'>
        <%= f.select :asset_account_id, asset_account_options(asset), { include_blank: true }, { class: 'form-control' } %>
      </div>
    </div>
    <div class='form-group row'>
      <div class='col-md-3'>
        <%= f.label :item_id, class: 'col-form-label' %>
      </div>
      <div class='col-md-5'>
        <%= f.select :item_id, item_options(asset), { include_blank: true }, { class: 'form-control' } %>
      </div>
    </div>
    <div class='form-group row'>
      <div class='col-md-3'>
        <%= f.label :sub_item_id, class: 'col-form-label' %>
      </div>
      <div class='col-md-5'>
        <%= f.select :sub_item_id, sub_item_options(asset), { include_blank: true }, { class: 'form-control' } %>
      </div>
    </div>
    <div class='form-group row'>
      <div class='col-md-3'>
        <%= f.label :is_transfer, class: 'col-form-label' %>
      </div>
      <div class='col-md-5'>
        <%= f.check_box :is_transfer, class: 'col-form-label' %>
      </div>
    </div>
    <div class='form-group row'>
      <div class='col-md-3'>
        <%= f.label :is_calculation_target, class: 'col-form-label' %>
      </div>
      <div class='col-md-5'>
        <%= f.check_box :is_calculation_target, class: 'col-form-label' %>
      </div>
    </div>
    <br />
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</p>

<br />
<br />

<div class='btn-group' role='group' aria-label='footer_menu'>
  <%= link_to 'Back', @simulation_entry, class: 'btn btn-secondary' %>
</div>
