<h1>SimulationEntryDetail</h1>

<p>
  <strong>SimulationEntryName:</strong>
  <%= @simulation_entry_detail.simulation_entry.name %><br />
  <strong>SimulationEntryType:</strong>
  <%= @simulation_entry_detail.simulation_entry.simulation_entry_type.name %><br />
  <% simulation_entry_type_id = @simulation_entry_detail.simulation_entry.simulation_entry_type_id %>
  <% date_header_name = simulation_entry_detail_date_header_name(simulation_entry_type_id) %>
  <% if date_header_name.present? %>
    <strong><%= date_header_name %>:</strong>
    <%= simulation_entry_detail_date_value(simulation_entry_type_id, @simulation_entry_detail) %><br />
  <% end %>
  <strong>Description:</strong>
  <%= @simulation_entry_detail.description %><br />
  <strong>Amount:</strong>
  <%= @simulation_entry_detail.amount %><br />
  <strong>AssetAccountName:</strong>
  <%= @simulation_entry_detail.asset_account.name %><br />
  <strong>ItemName:</strong>
  <%= @simulation_entry_detail.item.name %><br />
  <strong>SubItemName:</strong>
  <%= @simulation_entry_detail.sub_item.name %><br />
  <strong>IsTransfer:</strong>
  <%= @simulation_entry_detail.is_transfer %><br />
  <strong>IsCalculationTarget:</strong>
  <%= @simulation_entry_detail.is_calculation_target %><br />
  <strong>CreatedAt:</strong>
  <%= display_datetime_string(@simulation_entry_detail.created_at) %><br />
  <strong>UpdatedAt:</strong>
  <%= display_datetime_string(@simulation_entry_detail.updated_at) %>
</p>

<%= link_to 'Edit', edit_simulation_entry_detail_path(@simulation_entry_detail) %> |
<%= link_to 'Back', @simulation_entry_detail.simulation_entry %>
