<h1>SimulationEntryDetail</h1>

<p>
  <div class='row'>
    <div class='col-md-2'>
      <strong>SimulationEntryName:</strong>
    </div>
    <div class='col-md-5'>
      <%= @simulation_entry_detail.simulation_entry.name %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <strong>SimulationEntryType:</strong>
    </div>
    <div class='col-md-5'>
      <%= @simulation_entry_detail.simulation_entry.simulation_entry_type.name %>
    </div>
  </div>
  <% simulation_entry_type_id = @simulation_entry_detail.simulation_entry.simulation_entry_type_id %>
  <% date_header_name = simulation_entry_detail_date_header_name(simulation_entry_type_id) %>
  <% if date_header_name.present? %>
    <div class='row'>
      <div class='col-md-2'>
        <strong><%= date_header_name %>:</strong>
      </div>
      <div class='col-md-5'>
        <%= simulation_entry_detail_date_value(simulation_entry_type_id, @simulation_entry_detail) %>
      </div>
    </div>
  <% end %>
  <div class='row'>
    <div class='col-md-2'>
      <strong>Description:</strong>
    </div>
    <div class='col-md-5 text-break'>
      <%= @simulation_entry_detail.description %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <strong>Amount:</strong>
    </div>
    <div class='col-md-5'>
      <%= @simulation_entry_detail.amount %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <strong>AssetAccountName:</strong>
    </div>
    <div class='col-md-5'>
      <%= @simulation_entry_detail.asset_account.name %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <strong>ItemName:</strong>
    </div>
    <div class='col-md-5'>
      <%= @simulation_entry_detail.item.name %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <strong>SubItemName:</strong>
    </div>
    <div class='col-md-5'>
      <%= @simulation_entry_detail.sub_item.name %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <strong>IsTransfer:</strong>
    </div>
    <div class='col-md-5'>
      <%= @simulation_entry_detail.is_transfer %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <strong>IsCalculationTarget:</strong>
    </div>
    <div class='col-md-5'>
      <%= @simulation_entry_detail.is_calculation_target %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
      <strong>ResultActivity_Counts:</strong>
    </div>
    <div class='col-md-5'>
      <%= @simulation_entry_detail.simulation_result_activities.size %>
    </div>
  </div>
</p>

<br />

<p>
  <h2>SimulationResultActivities</h2>
  <table class='table table-sm table-hover'>
    <thead>
      <tr class='table-dark'>
        <th>TransactionDate</th>
        <th>Description</th>
        <th>Amount</th>
        <th>AssetAccountName</th>
        <th>ItemName</th>
        <th>SubItemName</th>
        <th>IsTransfer</th>
        <th>IsCalculationTarget</th>
        <th>CreatedAt</th>
        <th>UpdatedAt</th>
      </tr>
    </thead>
    <tbody>
      <% if @simulation_result_activities.blank? %>
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      <% else %>
        <% @simulation_result_activities.each do |simulation_result_activity| %>
          <tr>
            <td><%= display_date_string(simulation_result_activity.transaction_date) %></td>
            <td><%= simulation_result_activity.description&.slice(0...25) %></td>
            <td><%= simulation_result_activity.amount %></td>
            <td><%= simulation_result_activity.asset_account.name %></td>
            <td><%= simulation_result_activity.item.name %></td>
            <td><%= simulation_result_activity.sub_item.name %></td>
            <td><%= simulation_result_activity.is_transfer %></td>
            <td><%= simulation_result_activity.is_calculation_target %></td>
            <td><%= display_datetime_string(simulation_result_activity.created_at) %></td>
            <td><%= display_datetime_string(simulation_result_activity.updated_at) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @simulation_result_activities %>
</p>

<br />
<br />

<div class='btn-group' role='group' aria-label='footer_menu'>
  <%= link_to 'Edit', edit_simulation_entry_detail_path(@simulation_entry_detail), class: 'btn btn-secondary' %>
  <%= link_to 'Back', @simulation_entry_detail.simulation_entry, class: 'btn btn-secondary' %>
</div>
