<!DOCTYPE html>
<html>
  <head>
    <title>MyPfmWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <% if user_signed_in? %>
          <strong><%= link_to 'home', homes_show_path %></strong>
          <% if current_user.assets.present? %>
            /
            <%= link_to 'asset', asset_path(current_user.current_asset || current_user.assets.first, from_menu: true) %>
            <% if current_user.current_asset.present? && current_user.current_asset.simulations.present? %>
              <% simulation = current_user.current_simulation || current_user.current_asset.simulations.first %>
              /
              <%= link_to 'simulation', simulation_path(simulation, from_menu: true) %>
              /
              <% if simulation.simulation_summary.present? %>
                <%= link_to 'summary', simulation_summary_path(simulation.simulation_summary, from_menu: true) %>
              <% else %>
                summary
              <% end %>
            <% else %>
              /
              simulation
              /
              summary
            <% end %>
          <% else %>
            <%= link_to assets_url %>
          <% end %>
          /
          <%= link_to user_display_name(current_user), edit_user_registration_path %>
          /
          <%= link_to 'logout', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'top', homes_index_path %>
          /
          <%= link_to 'sign up', new_user_registration_path %>
          /
          <%= link_to 'log in', new_user_session_path %>
        <% end %>
      </nav>
    </header>

    <p class="notice" id="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
