<!DOCTYPE html>
<html>
  <head>
    <title>Futurama</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar navbar-expand-lg fixed-top navbar-light bg-primary'>
      <div class='container'>
        <a class='navbar-brand'>Futurama</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class='collapse navbar-collapse' id='navbar'>
          <ul class='navbar-nav mr-auto'>
            <% if user_signed_in? %>
              <li class='nav-item'><%= link_to 'home', homes_show_path, class: menu_link_class(:home) %></li>
              <% current_or_first_asset = current_user.current_or_first_asset %>
              <% current_or_first_simulation = current_user.current_or_first_simulation %>
              <% summary_at_current_or_first_simulation = current_user.current_or_first_simulation&.simulation_summary %>
              <li class='nav-item'>
                <% if current_or_first_asset.present? %>
                  <%= link_to 'asset', asset_path(current_or_first_asset, from_menu: true), class: menu_link_class(:asset) %>
                <% else %>
                  <a class='nav-link text-light'>asset</a>
                <% end %>
              </li>
              <li class='nav-item'>
                <% if current_or_first_simulation.present? %>
                  <%= link_to 'simulation', simulation_path(current_or_first_simulation, from_menu: true), class: menu_link_class(:simulation) %>
                <% else %>
                  <a class='nav-link text-light'>simulation</a>
                <% end %>
              </li>
              <li class='nav-item'>
                <% if summary_at_current_or_first_simulation.present? %>
                  <%= link_to 'summary', simulation_summary_path(summary_at_current_or_first_simulation, from_menu: true), class: menu_link_class(:summary) %>
                <% else %>
                  <a class='nav-link text-light'>summary</a>
                <% end %>
              </li>
            <% else %>
              <li class='nav-item'><%= link_to 'top', homes_index_path, class: menu_link_class(:home) %></li>
            <% end %>
          </ul>

          <ul class='navbar-nav'>
            <% if user_signed_in? %>
              <% if current_user&.is_admin %>
                <li class='nav-item dropdown'>
                  <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                    admin
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to 'users', admin_users_index_path, class: 'dropdown-item' %>
                    <%= link_to 'access_logs', admin_access_logs_index_path, class: 'dropdown-item' %>
                    <%= link_to 'sidekiq', sidekiq_web_path, class: 'dropdown-item' %>
                  </div>
                </li>
              <% end %>
              <li class='nav-item'><%= link_to 'edit profile', edit_user_registration_path, class: menu_link_class(:edit_profile) %></li>
              <li class='nav-item'><%= link_to 'logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
            <% else %>
              <li class='nav-item'><%= link_to 'sign up', new_user_registration_path, class: menu_link_class(:sign_up) %></li>
              <li class='nav-item'><%= link_to 'log in', new_user_session_path, class: menu_link_class(:log_in) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class='container'>
      <p class='notice' id='notice'>
        <% if notice %>
          </br>
          <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><%= notice %></strong>
          </div>
        <% end %>
      </p>
      <p class='alert'>
        <% if alert %>
          </br>
          <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong><%= alert %></strong>
          </div>
        <% end %>
      </p>
      <%= yield %>
    </div>

    <%= content_for :render_async %>
  </body>
</html>
